/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif; */

a {text-decoration: none;/*убирал подчеркивание текста ссылок*/
    color: white;
} 

li {display: inline;
    margin-right: 30px;
}

.bg1 {
    background-image: -moz-linear-gradient( 150deg, rgb(84,183,161) 0%, rgb(66,99,132) 100%);
    background-image: -webkit-linear-gradient( 150deg, rgb(84,183,161) 0%, rgb(66,99,132) 100%);
    background-image: -ms-linear-gradient( 150deg, rgb(84,183,161) 0%, rgb(66,99,132) 100%);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1600px;
    height: 1060px;
    z-index: 306;
  }
  
.logo{ 
  
    margin: 0 0 0 215;
}

.ul-menu{
    list-style: none; 
    padding: 100 0 0 300; 
    font-family: 'Open Sans', sans-serif;
    display: inline;
    margin-right: 30px;
}

.wrap-menu{
    display:flex;
    flex-wrap: nowrap;
    padding-top: 50px;
}


.block-book{
background-image: url('/img/book.png');
width: 445px;
height: 639px;
flex-shrink: 0;
margin: 
}


.block-notation{
   margin-left: 54px;
   width: 573px;
}
.by-authorname{
    font-family: 'Open Sans', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
}

.by-authorname1{
    font-family: 'Open Sans', sans-serif;
    color: #65e496;
    letter-spacing: 1px;
    padding: 400 0 59 85;
    font-size: 14px;
}
.block1{
    display:flex;
    flex-wrap: nowrap;
    margin: 185 0 0 215;
}

.the-bukee{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    letter-spacing: 1px;
    padding: 40 0 0 0;
}

.quote{
    font-family: 'Roboto Slab', serif;
    font: size 18px;;
    color: #65e496;
    letter-spacing: 1px;
    padding: 27 0 0 0;
}

.book-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:white;
    letter-spacing: 1 px;
    line-height: 1.5;
    padding: 50 0 0 0;
}

.book-info1{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:white;
    letter-spacing: 1 px;
    line-height: 1.5;
    padding: 35 0 54 0;
}

.btn{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-family:'Roboto Slab', serif ;
    color: #ffffff;
    font-size: 1.125rem;
        border-radius: 3px;
        background-image: -moz-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(101,228,206) 0%, rgb(101,228,161) 100%);
        box-shadow: 0px 2px 0px 0px rgba(101, 228, 125, 0.5);

    }

.book-name{
    padding: 117 0 0 0;
    text-align: center;
    color: #ffffff;
    font-family:'Roboto Slab', serif;
    font-size: 36px;
    font-weight: 700;
}

.under-book-name{
    text-align: center;
    color: #65e496;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 14 0 0 0;
}

.mark{
    font-family:'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
}